body {
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

button {
    width: 60px;
    height: 30px;
    border: 0px ;
    border-radius: 10px;

}

.countainer_pages{
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.countainer_buttons {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 20px;
}